/*Основні атрибути*/
html {
    scroll-behavior: smooth;
  }
body{
    user-select: none;
}
*{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    color: #000;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
}
::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}
/*Основні атрибути*/


/*Верхній стовпець зі списком меню*/
.ccc{
    padding-bottom: 28px;
    border-bottom: 1px solid #f9f9f9;
}
.topnav .icon {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 708px) {
    .topnav :not(:first-child) {display: none;}
    .topnav a.icon {
      display: block;
    }
  }
.logo{
    font-size: 20px;
    margin: 30px 0px 0px 30px;
    display: inline-block;
}
.logo b{
    color: #000;
    letter-spacing: 1.5px;
}
.authorization{
    float: right;
    margin: 20px 30px 0px 0px;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 16px 10px 16px;
    letter-spacing: 1.5px;
}
.authorization:hover{
    border: 1px solid #000;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
}
.choose{
    float: right;
    margin: 20px 20px 0px 0px;
    border: 1px solid #00000000;
    border-radius: 30px;
    padding: 10px 16px 10px 16px;
    letter-spacing: 1.5px;
}
.choose:hover{
    border: 1px solid #000;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
}
.icon{
    float: right;
    margin: 16px 16px 0px 0px;
    font-size: 32px;
  }
/*Верхній стовпець зі списком меню*/


/*Невелике меню*/
@media screen and (max-width: 708px) {
    .list-none{
      display: none;
    }
  }
#list{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}
#list ul li{
    margin: 0px 16px 0px 16px;
    padding-top: 28px;
    padding-bottom: 28px;
    display: inline-block;
    font-size: 18px;
}
#list li :hover{
    transition: 0.3s;
    border-bottom: 1px solid #000;
}
#list a{
    cursor: pointer;
}
.dropbtn {
    font-size: 18px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 12px 0px 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    z-index: 999;
    box-shadow: 0px 6px 12px 0px #000000b0;
}
.dropdown-content a {
    text-align: left;
    padding: 12px 16px;
    display: block;
    background-color: #f9f9f9;
}
.decor{
    height: 2px;
    background-color: #fff;
}
.dropdown-content a:hover {
    background-color: #000;
     color: #fff;
    }
.dropdown:hover 
.dropdown-content {
    display: block;
}
.icon-caret-down{
    padding: 4px 0px 0px 6px;
    position: absolute;
    font-size: 14px;
}
/*Невелике меню*/


/*Внутрішня інформація*/
#checkinfo{
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px 16px 16px 16px;
    position: fixed;
    z-index: 999;
    right: 0;
    margin-left: 16px;
    bottom: 16px;
    font-size: 20px;
}
#checkinfo.show{
    visibility: visible;
    -webkit-animation: fadein 5.5s, fadeout 5.5s 5.5s;
    animation: fadein 0.5s, fadeout 5.5s 5.5s;
}
#snackbar {
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px 16px 16px 16px;
    position: fixed;
    z-index: 999;
    left: 0;
    margin-left: 16px;
    bottom: 16px;
    font-size: 20px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#ahshop{
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px 16px 16px 16px;
    position: fixed;
    z-index: 999;
    left: 0;
    margin-left: 16px;
    bottom: 16px;
    font-size: 20px;
}
#ahshop.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackhub {
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px 16px 16px 16px;
    position: fixed;
    z-index: 999;
    right: 0;
    margin-left: 16px;
    bottom: 16px;
    font-size: 20px;
}
#snackhub.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#hubshop{
    visibility: hidden;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px 16px 16px 16px;
    position: fixed;
    z-index: 999;
    right: 0;
    margin-left: 16px;
    bottom: 16px;
    font-size: 20px;
}
#hubshop.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 16px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 16px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 16px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 16px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*Внутрішня інформація*/


/*Внутрішня частина меню*/
.sidenav {
    display: none;
    height: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}
.sidenav p {
    padding: 8px 20px 8px 20px;
    color: #000;
    display: block;
}
.sidenav a {
    padding: 8px 20px 8px 20px;
    color: #000;
    display: block;
    cursor: pointer;
}
.sidenav a:hover {
    background-color: #000;
    color: #f9f9f9;
}
.icon-clos{
    display: block;
    padding-top: 2px;
    padding-bottom: 12px;
    margin-left: 180px;
}
.icon-google-close{
    font-size: 52px;
    cursor: pointer;
 }
/*Внутрішня частина меню*/


/*Верхня частина фото з текстом*/
.top{
    margin: 0 auto;
    max-width: 100%;
    min-height: 500px;
    background-color: #f9f9f9;
    /*background: 
    linear-gradient(#1b00cd69, #dec00069), 
    url('../images/063510270.jpg');*/
    background: url('../images/063510270.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    text-align: center;
    padding-top: 164px;
    max-width: 665px;
    margin: 0 auto;
    font-size: 20px;
}
.content p{
    color: #000;
}
.top-text{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 22px;
    letter-spacing: 1.5px;
}
.top-text2{
    font-size: 18px;
    margin-bottom: 50px;
    letter-spacing: 1.5px;
}
.befehl{
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 16px 10px 16px;
    font-size: 22px;
    cursor: pointer;
}
.befehl:hover{
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 16px 10px 16px;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
/*Верхня частина фото з текстом*/


/*Кращі проекти*/
.container{
    max-width: 1192px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
}
.text-container{
    text-align: center;
    padding-top: 120px;
    font-size: 22px;
    padding-bottom: 52px;
}
.item1{
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    display: inline-block;
    margin: 0px 0px 6px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .60s;
}
.item1 img{
    width: 360px;
    height: 360px;
}
  .item1:hover {
    transform: scale(0.9);
  }
  .container-info{
    text-align: center;
}
.info{
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 8px;
    letter-spacing: 1.5px;
}
.text{
    font-size: 16px;
    color: #000;
    padding-bottom: 120px;
    letter-spacing: 1.5px;
}
/*Кращі проекти*/


/*Контакти, за якими можна з нами зв'язатися*/
.link-select{
    margin: 0 auto;
    max-width: 100%;
    background-color: #f9f9f9;
    text-align: center;
}
.link-select i{
    color: #000;
}
.text-link{
    font-size: 20px;
    letter-spacing: 1.5px;
    padding-top: 100px;
    margin-bottom: 30px;
}
.content-about{
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.content-about i{
    font-size: 20px;
}
.icon-twitter:hover{
    color: #1DA1F2;
    transition: 0.3s;
}
.decor-left{
    width: 1px;
    height: 20px;
    background-color: #000;
    display: inline-block;
    margin: 0px 20px 0px 20px;
}
.icon-instagram:hover{
    color: #833AB4;
    transition: 0.3s;
}
.icon-facebook:hover{
    color: #4267B2;
    transition: 0.3s;
}
.icon-telegram:hover{
    color: #0088cc;
    transition: 0.3s;
}
.icon-youtube:hover{
    color: #FF0000;
    transition: 0.3s;
}
/*Контакти, за якими можна з нами зв'язатися*/


/*Нові проекти*/
.object-galery{
    max-width: 1192px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1.5px;
}
.object-name{
    text-align: center;
    padding-top: 100px;
    font-size: 22px;
    padding-bottom: 52px;
}
.object1{
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    display: inline-block;
    margin: 0px 0px 6px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .60s;
}
.object1 img{
    width: 360px;
    height: 360px;
}
.object1:hover {
    transform: scale(0.9);
}
.galery{
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-top: 88px;
    margin-bottom: 8px;
}
.click{
    font-size: 16px;
    padding-bottom: 120px;
}
.click a{
    color: #000;
}
.click :hover{
    transition: 0.3s;
    border-bottom: 1px solid #000;
}
/*Нові проекти*/


/*Інформація чи просто прикраса*/
.slick{
    font-size: 20px;
    letter-spacing: 1.5px;
    padding-top: 76px;
    padding-bottom: 100px;
    background-color: #f9f9f9;
}
.text-slick{
    text-align: center;
    padding-top: 34px;
    font-size: 18px;
    color: #000;
    letter-spacing: 1.5px;
}
/*Інформація чи просто прикраса*/


/*Карта нашої компанії*/
.name-carte{
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-top: 100px;
    padding-bottom: 8px;
}
.name-carte{
    text-align: center;
    font-size: 22px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-top: 100px;
    padding-bottom: 8px;
}
.id-karte{
    text-align: center;
    font-size: 16px;
    color: #000;
    padding-bottom: 52px;
}
.karte{
    height: 450px;
    width: 100%;
    border: 0;
    padding-bottom: 100px;
}
/*Карта нашої компанії*/


/*Нижнє меню*/
.footer{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f9f9f9;
}
.footer p{
    color: #000;
}
.footer a{
    cursor: pointer;
}
.teg1{
    display: inline-block;
    font-size: 16px;
    width: 300px;
    text-align: initial;
    padding-top: 48px;
    padding-bottom: 52px;
}
.teg1 a{
    color: #000;
}
.teg1 a:hover{
    transition: 0.3s;
    border-bottom: 1px solid #000;
}
.a1{
    font-size: 18px;
    color: #000;
}
.bd{
    width: 0px;
    height: 16px;
}
.bb{
    width: 0px;
    height: 4px;
}
/*Нижнє меню*/


/*Авторське право*/
.confidentiality-footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.confidentiality-footer a{
    padding-left: 30px;
    color: #000;
    cursor: pointer;
}
/*Авторське право*/



